<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Blecon example customer connection page</h1>
  </div>
</div>
<div class="container">
  <p>This is an example of a Blecon customer device connection handler.</p>
  <p>For more information, see the <a href="https://docs.blecon.net/cloud-reference/device-connection">Blecon Cloud Reference</a>.</p>
  <p>To use this example, set your connection landing page to <a href="/connect">/connect</a> on this app. </p>
</div>


</body>
</html>
